/* Box Model Hack */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/* Global button reset  */
button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  border: none;
  padding: 0;
  margin: 0;

  background: none;
  font: inherit;
  color: inherit;
  line-height: inherit;

  text-align: inherit;
  cursor: pointer;
}

/******************************************
/* BASE STYLES
/*******************************************/
section {
  border: black solid 1px;
}

body {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/******************************************
/* TYPOGRAPHY
/*******************************************/

* {
  font-family: "Roboto";
}

h1 {
  color: black;
  text-align: center;
}

h2 {
  font-size: clamp(2.3rem, 7vw, 3rem);
  color: white;
}

p {
  font-size: 1.25rem;
  text-align: center;
  color: #2b2b2b;
  margin-bottom: 30px;
}

/******************************************
/* LAYOUT
/*******************************************/

.hero-section {
  position: relative;
}

.hero-section-content {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 35px;
  align-items: center;
}

.hero-section picture {
  display: flex;
  justify-content: center;
  width: 100%;
}

.image-container img {
  max-width: 100%;
  border: 1.3px solid rgb(186, 186, 186);
  height: auto;
  display: block;
  box-shadow: 0px 0px 42px -12px rgba(52, 52, 52, 0.75);
}

h1 {
  margin-bottom: 30px;

  text-decoration: underline;
  text-underline-offset: 7px;
}

.hero-icons-wrapper {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 2G0px;
}

.hero-icons-wrapper img {
  width: 40px;
}

@media (max-width: 768px) {
  .hero-section {
    padding-bottom: 50px;
  }

  .image-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    padding: 20px 20px 0 20px;
  }

  .image-container::after {
    content: "";
    align-self: flex-start;
    position: absolute;
    top: 0;
    left: -40px;
    z-index: -1;
    width: calc(100vw + 40px);
    height: 100%;
    background-color: rgb(0, 0, 108);
    clip-path: polygon(0 0, 100% 0%, 100% 59%, 0% 100%);
  }

  h2 {
    width: 100%;
    position: absolute;
    bottom: 10px;
    text-align: center;
    padding: 0 20px;
  }

  p {
    max-width: 580px;
    padding: 0 20px;
  }
}

@media (min-width: 768px) {
  .hero-icons-wrapper {
    display: none;
  }

  .image-container {
    float: left;
    max-width: 150px;
    margin-right: 10px;
    position: relative;
  }

  .image-container img {
    border: 1.3px solid rgb(186, 186, 186);
    height: auto;
    display: block;
    box-shadow: 0px 0px 42px -12px rgba(52, 52, 52, 0.75);
    transform: scale(1.6);
    transform-origin: bottom right;
  }

  .hero-section {
    width: 100vw;
    padding: 120px 100px 50px 100px;
    top: 0;
    left: 0;
  }

  .hero-section-content {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 42px -12px rgba(52, 52, 52, 0.75);
    display: block;
    padding: 50px 30px;
  }

  h2 {
    font-size: 3.8rem;
    width: 500px;
    position: absolute;
    top: -130px;
    left: 140px;
    text-align: center;
  }

  .hero-section::after {
    content: "";
    align-self: flex-start;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
    height: 100%;
    background-color: rgb(0, 0, 108);
    clip-path: polygon(0 0, 100% 0%, 100% 40%, 0% 80%);
  }
}

@media (min-width: 1040px) {
  .hero-section {
    width: 100vw;
    padding: 60px;
    top: 0;
    left: 0;
  }

  h1,
  .hero-icons-wrapper,
  p {
    margin: 0;
  }

  h2 {
    display: none;
  }

  .about-me-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 42px -12px rgba(52, 52, 52, 0.75);
    height: 430px;
    padding: 40px 40px;
  }

  .hero-section-content {
    display: flex;
    flex-direction: row;
    gap: 0;
    background: none;
    box-shadow: none;
    align-items: center;

    padding: 0;
  }

  .image-container {
    float: none;
    max-width: 1000px;
    margin-right: 0px;
    position: relative;

    height: 100%;
  }

  .image-container img {
    transform: none;
    max-width: 500px;
  }

  .hero-icons-wrapper {
    display: flex;
    justify-content: end;
    gap: 15px;
  }

  .hero-icons-wrapper img {
    width: 30px;
  }

  p {
    font-size: clamp(0.8rem, 1.7vw, 1.4rem);
  }
}

/******************************************
/* UTILITY STYLES
/*******************************************/

.container {
  max-width: 1400px;
  margin-inline: auto;
}
