/* Box Model Hack */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/* Global button reset  */
button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  border: none;
  padding: 0;
  margin: 0;

  background: none;
  font: inherit;
  color: inherit;
  line-height: inherit;

  text-align: inherit;
  cursor: pointer;
}

/******************************************
/* BASE STYLES
/*******************************************/

/* Vertically center sections that arent 100vw */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

/* Section header margin bottom */
h2 {
  margin-bottom: 30px;
}

section {
  display: flex;
  justify-content: center;
}

/******************************************
/* TYPOGRAPHY
/*******************************************/

* {
  font-family: "Roboto";
}

h1 {
  font-size: clamp(2.3rem, 7vw, 3rem);
  color: white;
}

/* Section titles */
h2 {
  color: black;
  text-align: center;
  font-size: 2rem;

  text-decoration: underline;
  text-underline-offset: 7px;
}

p {
  font-size: 1.25rem;
  text-align: center;
  color: #2b2b2b;
}

.contact-me-section {
  color: white;
}

.contact-me-section span {
  font-size: 1.125rem;
}

.contact-links a {
  color: white;
  text-decoration: none;
  font-size: 1.125rem;
}

/******************************************
/* LAYOUT
/*******************************************/

.hero-section {
  position: relative;
}

.hero-section-content {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 35px;
  align-items: center;
}

.hero-section picture {
  display: flex;
  justify-content: center;
  width: 100%;
}

.image-container img {
  max-width: 100%;
  border: 1.3px solid rgb(186, 186, 186);
  height: auto;
  display: block;
  box-shadow: 0px 0px 42px -12px rgba(52, 52, 52, 0.75);
}

.hero-icons-wrapper {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 2G0px;
}

.hero-icons-wrapper img {
  max-width: 40px;
}

.my-work-section {
  width: 100%;
  padding: 20px;
}

.my-work-section h2 {
  margin-bottom: 30px;
}

.my-work-section p {
  font-size: 1rem;
}

.card-container {
  display: grid;
  grid-template-rows: 1fr;
  gap: 50px;
}

.card {
  box-shadow: 0px 0px 42px -12px rgba(52, 52, 52, 0.75);
}

.card img {
  width: 25px;
}

.project-screenshot {
  width: 100%;
  height: 50vw;
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgb(0, 0, 108);
}

.project-contents-container {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.project-contents-container div:nth-child(1) {
  display: flex;
  justify-content: space-between;
}

.contact-me-section {
  background-color: rgb(14, 130, 255);
  padding: 20px;
}

.contact-links a {
  display: flex;
  align-items: center;
  gap: 10px;
}

.contact-links a img {
  display: none;
  max-width: 25px;
  stroke: #ffffff;
}

.social-link-icons img {
  width: 40px;
}

.contact-me-content-left h2 {
  margin-bottom: 45px;
  color: white;
}

.contact-me-content-left > div {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.contact-me-content-left > div > div:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.contact-me-content-left > div > div:nth-child(2) {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.contact-me-content-left > div > div > div {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.contact-me-content-right img {
  width: 100vw;
  position: absolute;
  left: 0;
}

@media (min-width: 490px) {
  .project-screenshot {
    width: 100%;
    height: 245px;
    background-image: url(/images/rock-paper-scissors-project.jpg);
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(0, 0, 108);
  }
}

@media (max-width: 768px) {
  .hero-section {
    padding-bottom: 50px;
  }

  .image-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    padding: 20px 20px 0 20px;
    isolation: isolate;
  }

  .image-container::after {
    content: "";
    align-self: flex-start;
    position: absolute;
    top: 0;
    left: -40px;
    z-index: -1;
    width: calc(100vw + 40px);
    height: 100%;
    background-color: rgb(0, 0, 108);
    clip-path: polygon(0 0, 100% 0%, 100% 59%, 0% 100%);
  }

  h1 {
    width: 100%;
    position: absolute;
    bottom: 10px;
    text-align: center;
    padding: 0 20px;
  }

  .hero-section p {
    max-width: 580px;
    padding: 0 20px;
    margin-bottom: 30px;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 3.5rem;
    width: 500px;
    position: absolute;
    top: -120px;
    left: 160px;
    text-align: left;
  }

  .hero-icons-wrapper {
    display: none;
  }

  .image-container {
    float: left;
    max-width: 150px;
    margin-right: 10px;
    position: relative;
  }

  .image-container img {
    height: auto;
    display: block;
    box-shadow: 0px 0px 42px -12px rgba(52, 52, 52, 0.75);
    transform: scale(1.4);
    transform-origin: bottom right;
  }

  .hero-section {
    width: 100vw;
    padding: 120px 50px 50px 50px;
    top: 0;
    left: 0;
  }

  .hero-section-content {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 42px -12px rgba(52, 52, 52, 0.75);
    display: block;
    padding: 50px 30px;
  }

  .hero-section::after {
    content: "";
    align-self: flex-start;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
    height: 100%;
    background-color: rgb(0, 0, 108);
    clip-path: polygon(0 0, 100% 0%, 100% 40%, 0% 80%);
    filter: drop-shadow(0px 8px 5px #000000);
  }

  .my-work-section {
    padding: 50px;
  }

  .project-screenshot {
    background-size: 90%;
  }

  .contact-me-section {
    padding: 50px;
  }

  .contact-me-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contact-me-content-right picture {
    display: flex;
    justify-content: end;
    align-items: center;
  }

  .contact-me-content-right img {
    position: static;
    width: 76%;
    box-shadow: 0px 0px 42px -12px rgba(52, 52, 52, 0.75);
  }

  .contact-me-content a img {
    display: block;
  }
}

@media (min-width: 590px) {
  .card-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1040px) {
  h1 {
    width: 100%;
    position: absolute;
    bottom: 10px;
    top: auto;
    left: auto;
    text-align: center;
    padding: 0 20px;
    z-index: 2;
  }

  .hero-section {
    width: 100vw;
    padding: 60px;
    top: 0;
    left: 0;
  }

  h2,
  .hero-icons-wrapper,
  p {
    margin: 0;
  }

  .hero-section-content {
    display: flex;
    flex-direction: row;
    gap: 0;
    background: none;
    box-shadow: none;
    align-items: center;

    padding: 0;
  }

  .about-me-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 42px -12px rgba(52, 52, 52, 0.75);
    height: 430px;
    padding: 40px 40px;
  }

  .image-container {
    float: none;
    max-width: 1000px;
    margin-right: 0px;
    position: relative;

    height: 100%;
  }

  .image-container img {
    transform: none;
    max-width: 500px;
  }

  .hero-icons-wrapper {
    display: flex;
    justify-content: end;
    gap: 15px;
  }

  .hero-icons-wrapper img {
    max-width: 30px;
  }

  .hero-section p {
    font-size: clamp(0.8rem, 1.7vw, 1.4rem);
  }

  .card-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .project-screenshot {
    background-size: 90%;
  }
}

/******************************************
/* UTILITY STYLES
/*******************************************/

.container {
  max-width: 1400px;
}

.card:nth-child(1) .project-screenshot {
  background-image: url(../images/rock-paper-scissors-project.jpg);
}

.card:nth-child(2) .project-screenshot {
  background-image: url(../images/calculator-project.jpg);
}

.card:nth-child(3) .project-screenshot {
  background-image: url(../images/tic-tac-toe-project.jpg);
}

.card:nth-child(4) .project-screenshot {
  background-image: url(../images/to-do-project.jpg);
}

.card:nth-child(5) .project-screenshot {
  background-image: url(../images/weather-app-project.jpg);
}

.card:nth-child(6) .project-screenshot {
  background-image: url(../images/battleship-project.jpg);
}
